.table{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  overflow-x: hidden;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
}